{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <h3 class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></h3>

      {% if project.details %}
        <div class="project-tagline">
          <ul>
            {% for detail in project.details %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
